:root{
    --primary-color: #1d5888;
    --secondary-color: #ff883b;
    --dark-color: #272727;
    --white-color: #e3e3e3;
    --text-color: rgb(199, 199, 199);
}



body{
    background: #000000;   
    background: -webkit-linear-gradient(to right, #434343, #000000);   
    background: linear-gradient(to right, #434343, #000000);  
}

.btn-custom, .btn-custom:hover{
    color: var(--secondary-color)
}

.app-btn-custom, .app-btn.custom:hover{
    background-color: var(--secondary-color);
}

 
.app-btn-custom, .btn-custom{
    transition: transform .5s linear;
}

.app-btn-custom:hover, .btn-custom:hover{
    transform: scale(1.2) 
}

nav{
    background-color: var(--dark-color)
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
}

footer{
    padding-right: 1rem;
}

footer .social>a{ /*Gets all of the a tags with a class of social inside of the footer*/
    color: var(--white-color);
    opacity: .7;
}

footer .social>a:hover{
    opacity: .95;
    color: var(--secondary-color);
    transition: all .5s linear;
}

.bootstrapIcon{
    color: #563d7c;
}

.htmlIcon{
    color: #e34c26;
}

.javascriptIcon{
    color: #F0DB4F;
}

.cssIcon{
    color: #2965f1;
}

li,p{
    color: var(--text-color)
}

.checklist>li i{ /*Anything styled with a checklist inside of an li look for an icon and change icon color*/
    color: var(--secondary-color)
}

code[class*="language-"], /*Set up code tag css */
    pre[class*="language-"]{
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

.logoFont{
    font-family: 'Sonsie One', cursive;
    
}